
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        This app is brought to you by 
        John from Info Support (c)
    </div>
</body>
</html>
