
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fallback</title>
</head>
<body>
    <div> 
        Sorry, this page is only available when you are connected
        <a href="/Home/Index">click here to return to the home page</a>
    </div>
</body>
</html>
