    body {
        background-image: url('../images/logo.jpg');
        
        background-repeat: no-repeat;
    }
    
   
    ul {
        list-style: none;
    }
    
    li:hover { cursor: pointer}
    
    div { padding:5px;}
    
    .hide { display:none;}
        
    #form, #list, #details {
        background-color:yellow;
        border:1px solid black;
    }
    
    #header, #footer {
        text-align:center;
        background-color:green;
        border:1px solid black;
        color:white;
        }
        
    #footer { font-size:16px;}
    

